*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Sedan SC", serif;
    font-weight: 400;
}
.title{
    text-align: center;
    margin-top: 1px;
    font-weight: bold;
    background-color: rgb(75, 228, 248);
    padding: 20px;
    color: white;
    position: sticky;
}
.title2{
    margin-left: 3px;
    margin-top: 20px;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
}
.container{
    flex-wrap: wrap;
    display: flex;
    flex-basis: 20%;
    justify-content: space-around;
    scrollbar-width: 20px;
    scroll-behavior: smooth;
}
.hello{
    border: 2px solid black;
    justify-content: space-around;
    padding: 10px;
    margin-top: 15px;
}
.hello1{
    border: 2px solid black;
    justify-content: space-around;
    padding: 10px;
    margin-top: 8px;
}
.contact{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: rgb(247, 125, 26);
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
}
